html, body {
    font-size: 10px;
    height: 100%;
}

.profilePic {
    border-radius: 50px;
}

.marginCard {
    margin-bottom: 50px;
}

.card-title {
    font-size: 2rem;
}

.badge {
    font-size: 1.2rem;
}

.button {
    background-color: white;
    color : black;
    border: 1px solid #e7e7e7;
}

p {
    font-size: 1.5rem;
}

a {
    font-size: 1.5rem;;
}
.heightcard {
    min-height: 121px;
}
