.bg{
    background-image: url("../img/background.png");
    background-size: cover;
    height: 755px;
}

h1 {
    font-family: "Berlin Sans FB";
    color: white;
}

h2 {
    font-family: "Berlin Sans FB";
    padding-top: 100px;
    color: white;
}

h3{
    padding-top: 100px;
    font-family: "Berlin Sans FB";
}

h4{

}

h5 {
    padding-bottom: 130px;
    font-size: 15px;
}

hr{
    max-width: 50px;
    border-width: 3px;
    border-color: hotpink;
}

p {
    font-family: "Berlin Sans FB";
    color: white;
}

.button {
    margin-bottom: 100px;
    font-family: "Berlin Sans FB";
    border-radius: 50px;
}

.mauve {
    background-color: rebeccapurple;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: pink;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: hotpink;
}